#fullcalendar {
    max-width: 1100px;
    margin: 1em auto;
}

#fullcalendar button {
    height: initial;
}

#fullcalendar a, #fullcalendar a:hover {
    color: initial;
    text-decoration: none;
}

#fullcalendar th[role=columnheader]:hover:after {
    display: none;
}

#fullcalendar th[role=columnheader] {
    cursor: default;
}

#fullcalendar .fc-daygrid-dot-event {
    display: block;
}

#fullcalendar .fc-daygrid-event {
    white-space: normal;
}

#fullcalendar .fc-daygrid-event-assignee {
    background: var(--fc-event-border-color);
    border-radius: 2px;
    color: white;
    box-sizing: content-box;
    height: 10px;
    padding: 3px;
    width: auto;
}

#fullcalendar .fc-event-time {
    height: 10px;
    padding: 3px;
    margin-left: 2px;
}

#fullcalendar .fc-event-title {
    margin-top: 3px;
}
